
.login{
    width: 300px;
    max-width: 350px;
    background: #FAFAFA;
    padding: 30px;
    margin: 30px auto;
    box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
    border-radius: 10px;
    border: 6px solid #305A72;
    margin-top: 150px;
}